/* HTML */
h1, h2, h3, h4, h5, h6 {
    color: #A27B5C;
}

body {
    background-color: #DCD7C9;
}

/* Navbar */

.navbar {
    background-color: #2C3639;
    padding: 0px;
}
.navbar-img {
    width: 30px;
}

/* Title */

#title {
    color: #A27B5C;
    background-color: #2C3639;
    text-align: center;
    padding: 3% 0%;
}
.title-sigil {
    width: 200px;
}

/* House */

#house {
    text-align: center;
    padding: 5% 30%;
}

/* Character */

.character-image {
    float: left;
    width: 150px;
    padding: 3%;
}
.character-heading {
    position: relative;
    top: 60px;
}

/* Footer */

#footer {
    text-align: center;
    background-color: #2C3639;
}